table {
    border: 5px solid #000066;
    margin: auto;
    width: 600px;
}
td, th {
    border: 1px solid #000066;
    padding: 0.5em;
    font-family: Arial, san-serif, serif;
}
caption {
    font-family: Arial, san-serif, serif;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}
.altrow {
    background-color: #eaeaea;
}
/* 1st row*/
#schedule tr:first-of-type {
    background-color: #000066;
    color: #eaeaea;
}
/* Last row*/
#schedule tr:last-of-type {
    background-color: #0000ff;
    color: #eaeaea;
}
/* 3rd row*/
#schedule tr:nth-of-type(3) {
    background-color: #ffff00;
}
/* 5th row*/
#schedule tr:nth-of-type(5) {
    background-color: #00ff00;
}

#table1 {
    border-collapse: collapse;
    text-align: center;
    background-image: url("../Images/dots.png");
    height: 400px;

}

#last-table{
    background-color: YELLOW;
    border-collapse: collapse;
    text-align: center;
    height: 400px;
}
#image {
    background: url("../Images/large.jpg");
    background-size: 100%;
}